<html xmlns:th="https://www.thymeleaf.org">
<body>
    <h2>Contact</h2>
    <form th:object="${contact}" th:action="@{/contact/create}" method="post">
       <div class="form-group has-feedback">
        <input type="text" th:field="*{name}"/>
        <input type="text" th:field="*{email}"/>
       </div>
       <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button
            th:with="text='Add Contact'"
            class="btn btn-default" type="submit" th:text="${text}">Add
            Contact</button>
        </div>
       </div>
    </form>
    <p th:text="${mensaje}" />
    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{/webjars/jquery-ui/jquery-ui.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>